<!-- app/views/reservations/index.html.erb -->

<h1>予約済み一覧</h1>

<% @reservations.each do |reservation| %>
  <div class="reservation">
  <% if reservation.room.present? && reservation.room.image.attached? %>
  <%= image_tag reservation.room.image.variant(resize: "300x200") %>
<% else %>
  <!-- 画像がない場合のデフォルト表示などを行う -->
  <%= image_tag 'default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
<% end %>
    <h2><%= reservation.room.name %></h2>
    <p>紹介文: <%= reservation.room.detail %></p>
    <p>合計料金: ¥<%= reservation.total_price %></p>
    <p>チェックイン日: <%= reservation.check_in.strftime("%Y/%m/%d") %></p>
    <p>チェックアウト日: <%= reservation.check_out.strftime("%Y/%m/%d") %></p>
    <p>予約確定日時: <%= reservation.created_at.strftime("%Y/%m/%d %H:%M")  %></p>
  </div>
<% end %>
