<!-- app/views/layouts/_logged_in_header.html.erb -->
<% if user_signed_in? %>
<div class="dropdown">
<div class="user-info">
<%= image_tag current_user.avatar_url || 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', alt: 'User Avatar' , class: 'custom-avatar' %>
<%= link_to current_user.name, '#', id: 'user-dropdown-toggle', class: 'NavProfile__username'%>
</div>

  <div id="user-dropdown" class="hidden">
  <li><%= link_to 'アカウント設定', user_account_path(current_user) %></li>
  <li><%= link_to '施設の新規登録', new_room_path %></li>
  <li><%= link_to '予約した施設', reservations_path %></li>
  <li><%= link_to '登録した施設', rooms_path(user_id: current_user.id) %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var toggle = document.getElementById('user-dropdown-toggle');
      var dropdown = document.getElementById('user-dropdown');

      toggle.addEventListener('click', function() {
        dropdown.classList.toggle('hidden');
      });

      document.addEventListener('click', function(event) {
        if (!toggle.contains(event.target) && !dropdown.contains(event.target)) {
          dropdown.classList.add('hidden');
        }
      });
    });
  </script>
  </div>
<% end %>
